@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poor Story";
    src: url("./fonts/PoorStory-Regular.ttf");
}

.heading-style .text {
    -fx-font-family: 'Poor Story';
    -fx-font-size: 100px;
    -fx-fill: #CF6A28;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 6px;
    -fx-stroke-type: outside;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 12, 0, 0, 6);
}

.transparent{
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.poor-story-text .text {
    -fx-font-family: 'Poor Story';
    -fx-fill: #FFFFFF;
}

.confirmation-text .text {
    -fx-font-size: 50px;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1.7px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 12, 0, 0, 6);
}

.error-text .text {
    -fx-font-size: 35px;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1.3px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 12, 0, 0, 6);
}

.sign-in {
    -fx-background-color: rgba(255, 226, 183, 0.7);
    -fx-background-radius: 11px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 11px;
    -fx-border-width: 6px;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: 'Poor Story';
    -fx-prompt-text-fill: #676767;
}

.profile {
    -fx-background-color: #DFC49B;
    -fx-background-radius: 11px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 11px;
    -fx-border-width: 3px;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Poor Story';
    -fx-prompt-text-fill: #676767;
}

.speech-text .text {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-font-size: 20px;
}

.response-text .text {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-font-size: 30px;
}
.shop-text .text {
    -fx-font-family: 'Poor Story';
    -fx-fill: #FFFFFF;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-font-size: 25px;
}

.avatar-stage .text {
    -fx-font-size: 40px;
}

.star-num .text {
    -fx-font-size: 35px;
}

.settings-text .text {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 0.2px;
    -fx-stroke-type: centered;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-font-size: 25px;
}

.yellow-text .text {
    -fx-fill: #FBB03B;
    -fx-stroke: #FBB03B;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #303030;
    -fx-background-radius: 5em;
    -fx-background-insets: 2, 0, 0;
    -fx-border-color: transparent;
    -fx-border-width: 5px;
    -fx-border-radius: 5em;

}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}