@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poor Story";
    src: url("./fonts/PoorStory-Regular.ttf");
}

.heading-style .text {
    -fx-font-family: 'Poor Story';
    -fx-font-size: 100px;
    -fx-fill: #CF6A28;
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 6px;
    -fx-stroke-type: outside;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 12, 0, 0, 6);
}

.text-field {
    -fx-background-color: #9FE8DC;
    -fx-background-radius: 5px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-font-family: 'Poppins';

}

.text-field:focused {
    -fx-border-color: #5F7E79;
}

.transparent{
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.timer .text {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF;
    -fx-font-size: 50px;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.4), 12, 0, 0, 6);
}
